body {
    font-family: Arial, sans-serif;
    background: #f85606;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    background: #fff;
    padding: 30px;
    width: 320px;
    border-radius: 6px;
    text-align: center;
}

.auth-container h2 {
    color: #f85606;
    margin-bottom: 20px;
}

.auth-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.auth-container button {
    width: 100%;
    padding: 10px;
    background: #f85606;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.auth-container button:hover {
    background: #e04f04;
}

.auth-container a {
    color: #f85606;
    text-decoration: none;
}

.auth-container p {
    margin-top: 15px;
    font-size: 14px;
}
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}